@font-face {
  font-family: 'MADSerifFillTrial-BlackItalic';
  src: url('MADSerifFillTrial-BlackItalic.ttf') format('truetype'),
       url('MADSerifFillTrial-BlackItalic.woff') format('woff'),
       url('MADSerifFillTrial-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

