@font-face {
  font-family: 'Diatype Mono';
  src: url('font_files/ABCDiatypeMono-Medium-Trial.otf') format('opentype '),
    url('font_files/ABCDiatypeMono-Medium.woff') format('woff'),
    url('font_files/ABCDiatypeMono-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Soyuz Grotesk';
  src: url('font_files/Soyuz Grotesk Bold.otf') format('opentype'),
    url('font_files/SoyuzGroteskBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --grey: rgb(131, 131, 131);
  --red: rgb(255, 53, 46);
  --border: black 1px solid;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--grey);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: clamp(1.1rem, 1.5vw, 2rem);
  font-family: 'Diatype Mono';
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 13fr;
  overflow: hidden;
}

.titlebar {
  padding-left: 1rem;
  font-size: 35px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  border-bottom: var(--border);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Soyuz Grotesk";
  overflow: hidden;
}

.player {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: var(--border);
  border-left: var(--border);
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 12fr 2fr;
}

.special {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-bottom: var(--border);
  border-right: var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  letter-spacing: 21px;
}

.playpause {
  margin: auto;
  padding-left: 20px;
  cursor: pointer;
  font-size: 30px;
}

.squarediv {
  height: 100%;
  width: auto;
}

.namewrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(13, 1fr);
}

.namewrapper .name {
  display: flex;
  align-items: center;
  border-bottom: var(--border);
  /* border-left: var(--border); */
  border-right: var(--border);
  /* padding-left: 1rem;
  padding-right: 1rem; */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.namewrapper .name div {
  pointer-events: none;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1rem;
  padding-right: 1rem;
}

.podcasts {
  position: relative;
  overflow: scroll;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 14;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(13, 1fr);
}

.podcasts .cover {
  position: relative;
  cursor: pointer;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.podcasts .cover .coverimg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}

.podcasts .cover .textoverlay {
  padding: 1000px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 10vw;
  mix-blend-mode: luminosity;
  background-color: var(--grey);
  opacity: 0%;
  transition: 0.2s;
}

.podcasts .cover .textoverlay:hover {
  opacity: 100%;
}

.infobar {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Diatype Mono";
  z-index: 50;
  position: fixed;
  height: calc(100vh/15);
  bottom: 0;
  width: 50vw;
  max-width: 50vw;
  background-color: var(--grey);
  border-top: var(--border);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: bottom 0.5s ease-out;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

/* .leftinfo {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 400px;
}

.rightinfo {
  display: flex;
  align-items: center;
  height: 100%;
  align-self: flex-end;
  max-width: 200px;
} */
.infobar.up1 {
  bottom: calc(100vh/15*13);
}

.inforect {
  padding: 20px;
  z-index: 50;
  position: fixed;
  height: calc(100vh/15*13);
  bottom: calc(-100vh/15*13);
  width: 100%;
  background-color: var(--grey);
  border-top: var(--border);
  -webkit-transition: bottom 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: bottom 0.5s ease-out;
  width: 50vw;
  overflow-y: scroll;
}

.inforect.up2 {
  bottom: 0;
}

input[type=range] {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #3071a9;
  border: var(--border);
  width: 100%;
  height: 0px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -7.7px;
  width: 16px;
  height: 15px;
  background: #000000;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3781c1;
}

input[type=range]::-moz-range-track {
  background: #3071a9;
  border: var(--border);
  width: 100%;
  height: 0px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 15px;
  background: #000000;
  border: 0;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 11px 0;
  color: transparent;
  width: 100%;
  height: 0px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #296191;
  border: var(--border);
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: var(--border);
}

input[type=range]::-ms-thumb {
  width: 16px;
  height: 15px;
  background: #000000;
  border: 0;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #3781c1;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {

  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}