@font-face {
  font-family: 'Wremena';
  src: url('font_files/MADSerifFillTrial-BlackItalic.ttf') format('truetype'),
    url('font_files/MADSerifFillTrial-BlackItalic.woff') format('woff'),
    url('font_files/MADSerifFillTrial-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  size: 14px;
}

body {
  background-color: lightgray;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'MADSerifFillTrial-BlackItalic';
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 13fr;
  overflow: hidden;
}

.titlebar {
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 25px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  border: black 1px solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

/* .aboutbar {
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 65px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: span 1;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.player {
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: span 1;
  border: black 1px solid;
  display: grid;
}

/* .aboutrect {
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 65px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 1;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  background-color: lightgray;
  opacity: 0;
} */
.tilewrapper {
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 65px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: span 1;
  /* border: black 1px solid; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(13, 1fr);
  justify-items: center;
}

.tile {
  border: black 1px solid;
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 25px; */
  width: 100%;
  height: 100%;
  /* box-shadow: -5px 5px 10px; */
}

.opacityfull {
  opacity: 100%;
}

/* .description {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: span 1;
  border: black 1px solid;
  width: 100%;
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 18px;
  padding: 5px;
} */
.shadow:hover {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 1px 21px 26px -17px #000000;
}

input[type=range] {
  width: 100%;
  margin: 2.1px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #010101;
  border-radius: 25px;
  width: 100%;
  height: 5.8px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -3.1px;
  width: 1px;
  height: 10px;
  background: #470000;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000000;
}

input[type=range]::-moz-range-track {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #010101;
  border-radius: 25px;
  width: 100%;
  height: 5.8px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 1px;
  height: 10px;
  background: #470000;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 5.6px 0;
  color: transparent;
  width: 100%;
  height: 5.8px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 1px solid #010101;
  border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #010101;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  width: 1px;
  height: 10px;
  background: #470000;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}

input[type=range]:focus::-ms-fill-upper {
  background: #000000;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {

  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}