@font-face {
  font-family: 'MADSerifFillTrial-BlackItalic';
  src: url('font_files/MADSerifFillTrial-BlackItalic.ttf') format('truetype'),
    url('font_files/MADSerifFillTrial-BlackItalic.woff') format('woff'),
    url('font_files/MADSerifFillTrial-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: lightgray;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'MADSerifFillTrial-BlackItalic';
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 1fr 7fr 1fr;
}

.titlebar {
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 65px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutbar {
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 65px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: span 1;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 65px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 1;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutrect {
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 65px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 1;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  background-color: lightgray;
  opacity: 0;
}

.tilewrapper {
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 65px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: span 1;
  border: black 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  justify-items: center;
}

.tile {
  border: black 1px solid;
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 25px; */
  width: 100%;
  height: 100%;
  /* box-shadow: -5px 5px 10px; */
}

.opacityfull {
  opacity: 100%;
}

.description {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: span 1;
  border: black 1px solid;
  width: 100%;
  font-family: 'MADSerifFillTrial-BlackItalic';
  font-size: 18px;
  padding: 5px;
}